<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.UserLoginHistoryMapper">
	<resultMap id="BaseResultMap"
		type="com.ipeaksoft.moneyday.core.entity.UserLoginHistory">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="country" property="country" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="county" property="county" jdbcType="VARCHAR" />
		<result column="isp" property="isp" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, ip, country, area, province, city,
		county, isp, create_time,
		modify_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_user_login_history
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByUserid" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_user_login_history
		where user_id = #{userid,jdbcType=INTEGER} order by create_time desc limit 1;
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_user_login_history
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.UserLoginHistory">
		insert into
		tb_user_login_history (id, user_id,
		ip, country, area,
		province, city, county,
		isp, create_time, modify_time
		)
		values
		(#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT},
		#{ip,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
		#{county,jdbcType=VARCHAR},
		#{isp,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.ipeaksoft.moneyday.core.entity.UserLoginHistory">
		insert into tb_user_login_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="area != null">
				area,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="county != null">
				county,
			</if>
			<if test="isp != null">
				isp,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				#{area,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				#{county,jdbcType=VARCHAR},
			</if>
			<if test="isp != null">
				#{isp,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.UserLoginHistory">
		update tb_user_login_history
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="area != null">
				area = #{area,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				county = #{county,jdbcType=VARCHAR},
			</if>
			<if test="isp != null">
				isp = #{isp,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.UserLoginHistory">
		update
		tb_user_login_history
		set user_id = #{userId,jdbcType=BIGINT},
		ip = #{ip,jdbcType=VARCHAR},
		country =
		#{country,jdbcType=VARCHAR},
		area = #{area,jdbcType=VARCHAR},
		province =
		#{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		county =
		#{county,jdbcType=VARCHAR},
		isp = #{isp,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		modify_time =
		#{modifyTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="pageUserLoginHistory" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		AU1.username AS puser1,
		AU2.username AS puser2,
		AU3.username AS puser3,
		U.mobile AS mobile,
		ULH.*
		from 
		tb_user_login_history AS ULH
		left join tb_user U on U.id = ULH.user_id
		left join tb_admin_user AU3 on AU3.id = U.p_user
		left join tb_admin_user AU2 on AU2.id = AU3.pid
		left join tb_admin_user AU1 on AU1.id = AU2.pid
		order by create_time desc
		<if test="currentPage !=null and pageSize != null">
     <![CDATA[  LIMIT #{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER} ]]>
		</if>
	</select>
	
	<select id="userLoginHistoryAmount" resultType="Integer"
		parameterType="java.util.Map">
		select count(*)
		from tb_user_login_history
	</select>
</mapper>