<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.VisitorHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.ipeaksoft.moneyday.core.entity.VisitorHistory" >
    <id column="idfa" property="idfa" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    idfa, ts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_visitor_history
    where idfa = #{idfa,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_visitor_history
    where idfa = #{idfa,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.VisitorHistory" >
    insert into tb_visitor_history (idfa, ts)
    values (#{idfa,jdbcType=VARCHAR}, #{ts,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ipeaksoft.moneyday.core.entity.VisitorHistory" >
    insert into tb_visitor_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idfa != null" >
        idfa,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idfa != null" >
        #{idfa,jdbcType=VARCHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.VisitorHistory" >
    update tb_visitor_history
    <set >
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where idfa = #{idfa,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.VisitorHistory" >
    update tb_visitor_history
    set ts = #{ts,jdbcType=TIMESTAMP}
    where idfa = #{idfa,jdbcType=VARCHAR}
  </update>
</mapper>