<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ipeaksoft.moneyday.core.mapper.WeixinSessionMapper" >
  <resultMap id="BaseResultMap" type="com.ipeaksoft.moneyday.core.entity.WeixinSession" >
    <id column="id" property="id"/>
    <result column="type" property="type"/>
    <result column="value" property="value"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, value, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_weixin_session
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_weixin_session
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.ipeaksoft.moneyday.core.entity.WeixinSession" >
    insert into tb_weixin_session (id, type, value, 
      create_time, update_time)
    values (#{id}, #{type}, #{value}, 
      #{createTime}, #{updateTime})
  </insert>
  <insert id="insertSelective" parameterType="com.ipeaksoft.moneyday.core.entity.WeixinSession" >
    insert into tb_weixin_session
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="type != null" >
        #{type},
      </if>
      <if test="value != null" >
        #{value},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ipeaksoft.moneyday.core.entity.WeixinSession" >
    update tb_weixin_session
    <set >
      <if test="type != null" >
        type = #{type},
      </if>
      <if test="value != null" >
        value = #{value},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ipeaksoft.moneyday.core.entity.WeixinSession" >
    update tb_weixin_session
    set type = #{type},
      value = #{value},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>
</mapper>